.compFooter {
  margin-top: 15px;
  width: 100%;
  font-weight: normal;
  font-size: 1.2em;
  padding: 2em;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: var(--color-smart-main-surface);

  @media (min-width: 768px) { 
    flex-direction: column;
    justify-content: space-between;
  }
} 



.poweredBySmartStake {
  flex: 1 1 auto;;
  text-align: left;
  display: inline-block;
  margin-left: 10px;
  font-size: 1.2em;
  margin-top: 20px;

  @media (min-width: 768px) { 
    margin-top: 0;
  }
}

a {
  color: var(--color-smart-primary)
}

a:hover {
  color: var(--color-smart-primary-bright);
  text-decoration: none;
}

/* .middleFooter {
  width: 4%;
  text-align: left;
  display: inline-block;
} */

.socialMedias {
  font-size: 1.2em;
  text-align: right;
  margin-right: 10px;
}





/* .react-bootstrap-table:hover {
    cursor: pointer;
} */

/* .buttonWithText {
  float: right;
}

.pWithText {
  padding-left: 2rem;
  padding-right: 2rem;
} */

