:root {
  /* used to color the stat / card analytics for mirror */
  --color-mirror-surface :#17141a;

  /* SmarteStake Overall Branding */
  --color-text: white;
  --color-text-gray: #6d738c;
  --color-background: #212024;
  --color-smart-primary : #faa84c;
  --color-smart-primary-bright: #ffc107;
  --color-smart-main-surface: #0f1011;
  --color-smart-main-surface--accent: #1b191b;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);;
}
  /* background-color: #121a2f; */
  /* color: white; */
  /* display: flex; */

.containerLayout {
  /* flex-direction: row;
  width: 100%;
  align-items: center;  
  justify-content: space-evenly;
  display: flex; */
  padding-right: 0rem;
  padding-left: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

#page-wrap {
  padding: 8px 12px;

  @media (min-width: 768px) { 
    padding: 20px 30px;
  }
}

.statRowLayout {
  /* width: 100%; */
  padding-right: 0rem;
  padding-left: 0rem;
  margin-left: 0rem;
  margin-right: 0rem; 
}

.statColLayout {
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  margin-left: 0rem;
  margin-right: 0rem; 
}

.infoTooltip {
  /* background-color: #2a3b69!important;*/
  font-size: 1rem!important; 
  /* font-weight: 600; */
  /* background-color: #151e36!important; */
  background-color: var(--color-text)!important;
  color: black!important;
  padding: 1em;
}

.chartRow {
  margin: 0;
}

.chartGridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "."
    ".";
}

@media (min-width: 768px) { 
  .chartGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    grid-template-areas:
      ". .";
  }
}

/*
.chartGridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    ".";
}

@media (min-width: 768px) { 
  .chartGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
      ". ."
      ". ."
      ". ."
      ". ."
      ". .";
  }
}
*/

/* IF layout issues happen with charts, look here */
.chartBg {
  /* 23335F */
  box-sizing: border-box;
  background-color: var(--color-mirror-surface);
  /* background-color: #f9f9f9; */
  border-radius: 10px;
  margin-top: 10px;
	margin-bottom: 10px;
  padding: 1em;
  font-size: 0.9em;
}

.headerWarning {
  background-color: red;
}

.black-a {
  color: #000;
  text-decoration: underline;
}

.black-a:hover {
   color: #00F
}


.animLink {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: None;
  /* border: 1px solid var(--color-text);
  border-radius: 50%; */
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: var(--color-text);
  transition: transform 0.2s; border-color: 0.2s; color: 0.2s; box-shadow: 0.2s;
  outline: none !important;
}

.animLink:hover {
  border-color: #f1ff5c;
  color: var(--color-smart-primary);
  transform: translateY(-0.15em);
  cursor: pointer;
}

.MuiToggleButtonGroup-root {
  background-color: var(--color-mirror-surface);
  color: var(--color-text)!important;
  border: 0 !important;
  min-width: 30px;
  outline: 0 !important;
}

.MuiToggleButton-root {
  background-color: var(--color-mirror-surface);
  color: var(--color-text)!important;
  border: 0 !important;
  min-width: 30px;
  outline: 0 !important;
  min-width: 90px;
}

.NetworkSwitch-selected-1 {
  border: 0 !important;
  outline: 0 !important;
}

/*.MuiToggleButton-root.Mui-selected {
  background-color: purple;
} */

.notification {
  background-color: var(--color-smart-main-surface--accent);
  padding: 1em;
  color: var(--color-text);
  padding-top: 0px;
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 0.2rem;
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  border-radius: 10px;
  padding: 1em;
  color: var(--color-smart-primary);
  width: 100%;
}

.subHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px;
}

.subHeader__group {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-content: flex-start;
  justify-content: flex-start;
  margin: 20px 0;
}

@media (min-width: 768px) { 
  .subHeader__group {
    flex-direction: row;
    align-content: space-between;
  }
}

.lastUpdate {
  font-weight: 200;
  margin: 4px 0;
  font-size: 14px;
}

.img-valign {
  /* vertical-align: bottom; */
  margin-bottom: 0.3rem;
}

/*

.table th{
  padding:.25rem;
}

.table td{
  padding:.25rem;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 3px;
  color: white;
  text-align: center;
}

.App {
  margin-left: auto;
  margin-right: auto;
  background-color: #121a2f;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.white-a {
  color: #FFF;
  text-decoration: underline;
}

.white-a:hover {
   color: lightgray
}


.regular-b-a {
  color: #000;
}

.regular-b-a:hover {
   color: #00F
}

.regular-w-a {
  color: #FFF;
}

.regular-w-a:hover {
   color: #00F
}

.buttonWithText {
  float: right;
}

.pWithText {
  padding-left: 2rem;
  padding-right: 2rem;
}


.divWithText {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}



.view-tag {
  background-color: #00ade8;
  text-decoration: underline;
  border-radius: 5px;
  border: 1px solid #a5d24a;
  color: white;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
	margin-top: 5px;
	margin-bottom: 5px;
  margin-right: 7px;
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
}



.button-special {
  background-color: #00ade8;
  border-radius: 5px;
  border: 1px;
  color: #ffffff;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
	margin-top: 1px;
	margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 5px;
}

.button-special-large {
  background-color: #00ade8;
  border-radius: 5px;
  border: 1px;
  color: #ffffff;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
	margin-top: 5px;
	margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
}

.react-bootstrap-table:hover {
  cursor: pointer;
}


.card-deck {
    margin-right: 0px;
    margin-left: 0px;
}

.chartBg {
  background-color: #f9f9f9;
  border-radius: 25px;
  margin-top: 10px;
	margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 3px 3px 3px 3px grey;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 10px;
}

.blockBg {
  background-color: midnightblue;
  border-radius: 25px;
  margin-top: 10px;
	margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 1px 1px 2px 2px grey;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 10px;
}

.ssSubtitle {
  font-size: 0.5rem;
}

.subHeader {
  margin-left: 10px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #f0fafe;
}
.table-striped>tbody>tr:nth-child(even)>td,
 .table-striped>tbody>tr:nth-child(even)>th {
   background-color: #ffffff;
} */

