
.chartHeader {
    width: 100%;
    font-weight: normal;
    padding-left: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    /* background-color: #18141b; */
    padding: 10px 0px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid var(--color-text-gray);
}

.chartTitle {
    text-align: left;
    display: inline-block;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

.chartTooltip {
    color: var(--color-text-gray);
}

.timeframePicker {
    text-align: right;
    display: inline-block;
    color: var(--color-text-gray);
    flex: 1 1 auto;
}



.recharts-tooltip-wrapper {
    background-color: black;
}